@import url("http://fonts.cdnfonts.com/css/sports-jersey");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");

.competitors-container {
  background: url(../images/background1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .sort-option-selector {
    .MuiFormControl-root {
      min-width: 150px;
    }
  }

  .competitor_search {
    width: 60%;
  }

  .MuiFormControl-root {
    background-color: white;
  }

  .entry_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .No-Result {
      height: 100vh;
      margin-top: 10%;

      .MuiPaper-root {
        background: inherit;
        min-width: 600px;
        color: rgba(250, 21, 21, 0.795);
        font-weight: bold;

        img {
          object-fit: contain;
          background-color: white;
          height: 140px;
        }

        h2 {
          font-size: 3.5vw;
        }

        h5 {
          font-size: 2vw;
        }
      }
    }

    .competitor-card {
      margin: 10px;
      position: relative;

      .MuiCardHeader-content {
        span {
          font-family: "Bebas Neue", cursive;
          font-size: 30px;
          font-weight: normal;
        }
      }

      .manufacturer-avatar {
        position: absolute;
        top: 325px;
        right: 15px;
      }

      .MuiTypography-body2 {
        color: white;
        font-size: 25px;
        font-weight: bold;
      }

      .driver-info-toggle {
        display: flex;
        align-items: center;
        gap: 30px;

        svg {
          color: white;
        }

        h4 {
          color: white;
        }
      }

      .entry-details {
        .elevation-details {
          margin-left: -10px;
        }
      }

      .driver-table {
        table {
          min-width: 300px;
        }
        .MuiTableHead-root {
          th {
            font-weight: bold;
          }
        }
      }

      button {
        border: none;
        background: none;
      }

      .MuiTypography-h5 {
        color: white;
        font-weight: bold;
      }

      .entry-detail_GTWCA {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(255, 22, 7, 1) 100%
        );
      }

      .entry-detail_PGT4A {
        background: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(67, 92, 249, 1) 60%
        );
      }

      .entry-detail_TCA {
        background: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(179, 179, 182, 1) 60%
        );
      }

      .entry-detail_GTA {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(101, 101, 102, 1) 100%
        );
      }

      .entry-detail_IGTC {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(255, 248, 7, 1) 100%
        );
      }

      .entry-detail_GRCup {
        background: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,
          rgb(255, 139, 7) 100%
        );
      }

      .entry-detail__item {
        max-width: 345px;
        min-height: 375px;
        min-width: 375px;

        .entry-media {
          .MuiCardMedia-root {
            height: 180px;
          }

          .class-banner-img {
            width: 140px;
          }

          .manufacturer-avatar {
            position: absolute;
            top: 325px;
            right: 15px;
          }

          .MuiAvatar-root {
            background-color: white;
            width: 59px;
            height: 59px;

            img {
              object-fit: contain;
            }
          }

          .MuiCardHeader-root {
            min-height: 100px;
            max-width: 325px;
          }

          .car_number {
            position: absolute;
            top: 310px;
            font-size: 80px;
            color: white;
            -webkit-text-stroke: 3px red;
            font-family: "Sports Jersey", sans-serif;

            &.len_2 {
              left: -20px;
            }

            &.len_1 {
              left: 0px;
            }

            &.len_3 {
              left: -25px;
              font-size: 70px;
            }
          }
        }
      }
    }

    .MuiPaper-root {
      .MuiCardContent-root {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
