#edit_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 70vh;
  min-height: 350px;
  border: 2px solid black;
  box-shadow: 10px 5px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2%;
  background-color: red;
  color: white;
  font-weight: 400;

  input {
    min-height: 50%;
  }

  h1 {
    margin-bottom: 0;
  }

  .input_driver_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2%;
    // margin: 5%;

    .editModal_input {
      display: flex;
      flex-direction: column;
    }

    &.single_driver {
      margin-bottom: 2%;
      .input_driver_container_1 {
        display: flex;
        justify-content: space-around;
        gap: 10%;
        width: 100%;
      }
    }

    &.two_driver {
      min-height: 40%;

      section {
        display: flex;
        gap: 10%;
        flex-direction: column;
      }
    }
  }

  .input_vehicle_container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    #class_dropdown {
      label,
      .MuiInputBase-root {
        color: white;
      }
    }

    .input_classification {
      width: 10%;
    }

    .input_number {
      width: 15%;
    }

    .input_vehicle {
      min-width: 250px;
    }

    .editModal_input {
      display: flex;
      flex-direction: column;
    }
  }
  .MuiButton-root {
    background-color: black;

    &.edit_modal_update {
      margin-bottom: 2%;
    }

    &.edit_modal_delete {
      position: absolute;
      left: 2%;
      top: 5%;
    }
  }
}
