.App {
    text-align: center;
    height: 100vh;

    .search-sort-options {
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        padding-bottom: 20px;

        .MuiInputLabel-root {
            color: red;
        }
    }

    .filter-details {
        display: flex;
        justify-content: space-around;
    }
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#homepage {
    display: flex;
    justify-content: center;
    height: 100vh;

    background-image: url("https://www.gt-world-challenge-america.com//timthumb.php?w=800&src=%2Fimages%2Fgallery%2F2023%2F88%2F381%2F%2FSRO23_RA_4671__FL-Enhanced-NR-topaz-denoise-sharpen.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    .nav_list {
        width: 100vw;
        display: flex;
        justify-content: center;
        height: 10vh;
        padding-top: 5%;
        gap: 5vw;

        .MuiCard-root {
            width: 20%;
            min-width: 120px;
            background: linear-gradient(
                90deg,
                rgba(70, 45, 45, 1) 11%,
                rgba(255, 0, 0, 1) 100%
            );
            color: white;
        }
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
