#socket_home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    ul {
        display: flex;
        flex-direction: column;

        .event {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // height: ;
        }

        img {
            object-fit: contain;
        }
    }
}
